/* frontend css */
.business_hours_remove_button{
	margin-left: 10px;
	background-color: #9B9B9B;
	text-decoration: none;
	margin-left: 6px;
	font-size: 14px;
	color:#fff;
	border-radius: 3px;
	padding: 0px 6px;
	line-height: 10px;
	display:inline;
}
.business_hours_remove_button:hover{
	background:#990000;
}
.business_hours_list_item{
	padding:5px 0px;
}

.business_hours_add_form{
	margin-top:10px;
}
.business_hours_list_item strong{
	margin-left:10px;
	margin-right: 10px;
}
.business_hours_add_form .item_fromtime,.business_hours_add_form .item_totime{
	width:100px;
}
.business_hours_add_form select{
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #333;
	outline: 0;
	padding: 2px;
	line-height: 28px;
	height: 28px;
	vertical-align: middle;
	font-size: 13px;
}
.business_hours_add_button{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	vertical-align: top;
}
.business_hours_item{font-size: 14px;}
.form-table.entry-details .business_hours_item{margin-top:5px;margin-left: -10px;}